.product-card img {
    width: 200px;
    /* Set a fixed width */
    height: 200px;
    /* Set a fixed height */
    object-fit: cover;
    /* This makes the image cover the set area without distorting aspect ratio */
    border-radius: 8px;
    /* Optional: Adds rounded corners to your images */
}


.navbar-logo img {
    height: 80px;
    /* Increase the height of the logo */
    margin-right: 30px;
    /* Increase the spacing to the right of the logo */
    padding: 5px;
    /* Add padding around the logo */
    border-radius: 10px;
    /* Optional: Adds rounded corners if you want */
    background-color: #f8f8f8;
    /* Optional: Adds a background color to the logo, adjust color as needed */
}

/* Base styling for the navigation bar */
nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    /* Dark theme for the navbar */
    color: white;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.search-bar button {
    padding: 8px 12px;
    border: none;
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    /* Creates consistent spacing between menu items */
    margin: 0;
}

nav ul li {
    padding: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;
    /* Smooth transition for hover effects */
}

/* Hover and active states for link */
nav ul li a:hover,
nav ul li a:active {
    color: #04AA6D;
    /* Light green color for hover and active states */
    background-color: rgba(255, 255, 255, 0.2);
    /* Slight background highlight */
    border-radius: 5px;
    /* Rounded corners for the hover and active states */
}

.footer {
    background-color: #333;  /* Dark background for the footer */
    color: white;            /* Light text color for visibility */
    text-align: center;      /* Center-align text */
    padding: 20px 0;         /* Padding on top and bottom */
    margin-top: 40px;        /* Space between the content and the footer */
    font-size: 16px;         /* Suitable font size for footer text */
  }
  
  .footer p {
    margin: 5px 0;           /* Small margin for paragraph spacing */
  }  

/* Responsive adjustments */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-logo img {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
}
